<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>Backbone.js tweet alone</title>
  <meta name="viewport" content="width=device-width">
  <style type="text/css">
    body {background: #999;}
    #container{background: #FFF;}
    .tweet-list{position: relative; }
    #tweets .destroy {
      position: absolute;
      right: 5px;
      top: 15px;
      display: none;
      cursor: pointer;
      width: 20px;
      height: 20px;
      background: url(destroy.png) no-repeat;
    }

    #tweets li:hover .destroy {
        display: block;
    }

    #tweets .destroy:hover {
        background-position: 0 -20px;
    }
    #error {
      color: red;
    }
  </style>
</head>

<body>
  <div id="container">
    <header>
      <h1>１人Tweet</h1>
      <p>たったこれだけなのにコード量が半端ない（笑）Backbone大変（汗）</p>
      <p>Validation 未実装（名前が未記入の時何か表示するとか）</p>
      <p>ソース：<a href="https://github.com/igtm/sample-backbone-tweet">https://github.com/igtm/sample-backbone-tweet</a></p>
    </header>
    <div id="content">
      <label for="name">名前：</label><input type="text" id="name" placeholder="What's your name??" size="10"/><span id="error"></span><br>
      <label for="post">投稿：</label><input type="text" id="tweet" placeholder="What would you like to tweet??" size="30"/>
      <ul id="tweets">
        <!-- template .temp-tweets -->
      </ul> 
    </div>
  
  </div>
  <footer>
    Created by Tomokatsu Iguchi
  </footer>




  <!-- Source -->
  <script src="jquery.min.js"></script>
  <script src="underscore-min.js"></script>
  <script src="backbone-min.js"></script>
  <script src="app.js"></script>

  <!-- Templates -->
 <script type="text/template" id="temp-tweets">
   <hr>
   <div class="view"><%- name %>: <%- tweet%> [<%- created %>]</div>
   <a class="destroy"></a>
 </script>

  </body>
</html>
